In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [10]:
path1 = '/home/higuchi/ssd/Desktop/kits_3DUNet/experiment/second_kits/lesion_evaluation.csv'
path2 = '/home/higuchi/ssd/Desktop/kits_3DUNet/experiment/reverse_kits/lesion_evaluation.csv'

df1=pd.read_csv(path1)
df2=pd.read_csv(path2)

In [4]:
df2.head()

,filename,label_name,existence,dice,recall,precision
0,00019.nii.gz,HCC,"""1""",0.9476448636456838,0.9997854047543231,0.9006731959502228
1,00019.nii.gz,cyst,"""1""",0.03903559127439724,0.020581113801452784,0.37777777777777777
2,00019.nii.gz,angioma,"""0""","""""","""""",""""""
3,00023.nii.gz,HCC,"""1""",0.9592040576687894,0.9984919593708157,0.9228908508477225
4,00023.nii.gz,cyst,"""1""",0.0,0.0,0.0

In [18]:
dice_df1 = df1[df1['label_name'] == 'cyst'][['filename', 'dice']].reset_index(drop = True)
dice_df2 = df2[df2['label_name'] == 'cyst'][['filename', 'dice']].reset_index(drop = True)

dice_df = pd.concat([dice_df1, dice_df2])
dice_df['dice'] = dice_df['dice'].apply(lambda x: round(float(x),3))
dice_df.to_csv('')

        filename   dice
0   00001.nii.gz  0.000
1   00017.nii.gz  0.000
2   00020.nii.gz  0.000
3   00022.nii.gz  0.000
4   00043.nii.gz  0.000
5   00082.nii.gz  0.002
6   00094.nii.gz  0.226
7   00115.nii.gz  0.000
8   00120.nii.gz  0.000
9   00137.nii.gz  0.000
10  00173.nii.gz  0.038
11  00174.nii.gz  0.000
12  00205.nii.gz  0.000
0   00019.nii.gz  0.039
1   00023.nii.gz  0.000
2   00054.nii.gz  0.499
3   00093.nii.gz  0.210
4   00096.nii.gz  0.000
5   00123.nii.gz  0.000
6   00127.nii.gz  0.000
7   00136.nii.gz  0.000
8   00141.nii.gz  0.000
9   00153.nii.gz  0.000
10  00188.nii.gz  0.000
11  00191.nii.gz  0.236
12  00201.nii.gz  0.000